<%- include ('./header.ejs') %>

<!--Property part-->
<div class="container mt-5">
    <div class="bg-light rounded p-3">
        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
            <div class="mg-t-100">
                <h1 class="show">Showing Best Property For You</h1>
            </div>
            <div class="snav">
                <ul class="snav-style">
                    <li>
                        <a href="" class="secnav">
                            home
                            <i class="fa fa-arrow-right">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="secnav">&nbsp;property</a>
                    </li>
                    <li>
                        <a href="" class="secnav"
                            style="color:  #e72e77; font-size: 15px; font-weight: 500;">&nbsp;/&nbsp; MOST POPULAR
                            PROPERTY IN GWALIOR</a>
                    </li>

                </ul> <!--snav-style end-->
            </div> <!--snav end-->
            <h4 class="sha">showing a best Room & Flat for you !!</h4>
            <div class="row">
                
                <% p.forEach((item)=>{ %>
                    <div class="col-lg-4 col-md-6 mb-3">
                        <div class="pbox">
                            <a href="propertiesdetail.html">
                                <img src="<%= item.image.url %>"
                                    alt="" style="height: 250px; width: 400px;">
                            </a>
                            <div class="bg-success rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                Rent</div>
                            <div class="bg-success rounded position-absolute end-0 bottom-0 m-4 py-0 px-1">
                                <a href="" class="btn btn-sccess text-white">Available</a>
                            </div>
                            <div
                                class="bg-white rounded text-success position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                Aparment</div>
                        </div>
                        <div class="p-4 pb-0">
                            <h5 class="text-success mb-3"><%= item.price %></h5>
                            <a href="" class="d-block  mb-2 text-decoration-none"><%= item.name %></a>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                <%= item.address %>
                            </p>
                        </div>
                        <div class="d-flex">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-ruler-combined text-success me-2"></i>
                                <%= item.size %>
                            </small>
                            <small class="flex-fill text-center py-2">
                                <i class="fa-solid fa-hand-holding-heart"></i>
                                Fully Furnished
                            </small>
                            <small class="flex-fill text-center py-2">
                                <i class="fa fa-bath me-2"></i>
                                2 Lath,bath
                            </small>
                        </div> <!--d-flex-->
                        <div class="text-center">
                            <a class="btn btn-success mt-3" href="/details/<%= item._id %>">View details</a>
                        </div>
                    </div>

               <% }) %>
                <div class="col-12 text-center">
                    <a class="btn btn-success py-3 px-5 mt-3 mb-3" href="">Browse More Property</a>
                </div>
            </div><!--row end-->
        </div>

    </div>
</div> <!--container end-->
<%- include ('./footer.ejs') %>